header {
    border-bottom: 1px solid #000;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center; /* 텍스트를 가운데에 */
}
@font-face {
    font-family : 'Pretendard';
    src : url(../font/FlightSans-Regular.woff2)
}
html{
    background-color: #F4F5F7;
}
@font-face {
    font-family : 'flightSans';
    src : url(../font/FlightSans-Title.woff2)
}
/*------------- 헤더 -------------*/
.headers {
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center; /* 텍스트를 가운데에 */
    position: relative;
    width: 392px;
}

h1 {
    font-family: "flightSans";
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* 가로 중앙에 위치 */
}
.normalProfile {
    position: absolute;
    display: flex;
    right: -80px;
    align-items: center;
    width: 50px;
    height: 50px;
}
.profileContainer {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box {
    width: 36px;
    height: 36px; 
    border-radius: 50%;
    overflow: hidden;
}
/* 드롭다운 */
.dropdown {
    display: none; /* 기본적으로 숨김 */
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #E9E9E9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 140px;
    z-index: 1;
}

.dropdown p {
    padding: 10px 20px;
    margin: 0;
    font-size: 14px;
    color: #333;
    text-align: left;
    cursor: pointer;
}

.dropdown p:hover {
    background-color:#FFFFFF; /* hover 시 배경색 */
}

a {
    text-decoration: none;
    color: #000;
}
/* 작성 버튼 */
.postBtn {
    width: 138px;
    height: 39px;
    border-radius: 16px;
    background-color: #ACA0EB;
}
.postBtn:hover {
    background-color: #7E6AEE;

}
.postBtn p {
    color: aliceblue;
    margin-top: 10px;
}
.bnt {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-bottom: 30px;
}
/* 메인 */
main {
    max-width: 600px;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}
.mainTxt {
    margin-top: 20px;
    width: 280px;
    height: 62px;
    display: inline-block;
    flex-direction: column; 
    text-align: center;
    justify-content: center;
}
#mainTxt {
    margin: 0%;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    text-align: center;
}
/* 게시물 리스트 */
.postList {
    width: 600px;
    height: 204px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.post {
    height: 181px;
    background-color: #FFFFFF;
    position: inherit;
    border-radius: 16px; /*모서리둥글게*/
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px #e4e5e7;

}
.title {
    height: 101px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #00000029 /* 하단 테두리 */

}
.titleTxt {
    width: auto; 
    height: 40px; 
    margin: 8px;
    margin-left: 20px;
    font-size: 15pt;
    text-align: left; 
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    display: inline-block;
}
.postElement, .ele1{
    display: flex;
    color: #000;
    font-size: 10pt;
    justify-content: space-between;
}
.postElement .ele1 p {
    margin-left: 20px;
    text-align: left;
}
#date {
    width: 300px;
    text-align: right;
    margin-right: 20px;
}
/* 작성자 */
.user {
    display: flex;
    margin: 15px;
    text-align: center;
}
.profileContainer{
    margin: 8px;
}
.user .nickname {
    margin-left: 10px;
    text-align: center;
    justify-content: center;
}
